<template>
  <div class="btn-circle" @click="$emit('click')">
    <span><slot></slot></span>
  </div>
</template>

<script>
  export default {
    name: 'button-circle'
  }
</script>

<style lang="stylus">
  .btn-circle
    display: flex;
    background: #de2020;
    border-radius: 32px;
    height: 64px;
    width: 64px;
    color: #d4d5dc;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);

    &:active
      transform scale(0.97)
      background: #ce2020;

    &:hover
      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);

    span
      margin auto
      font-weight: bold;
      font-size: 24px;
</style>