<template>
  <div :style="{top, left}" class="puzzle" @click="puzzle.change()">
    <div class="puzzle-item">
      <div class="state" :class="puzzle.isValid() ? 'green' : 'red'"></div>
      <span>
        {{puzzle.name}}
      </span>
    </div>
  </div>
</template>

<script>
  import Puzzle from '../models/Puzzle'

  export default {
    name: 'puzzle-item',
    props: {
      puzzle: {
        required: true,
        type: Puzzle
      }
    },
    computed: {
      col() {
        return this.puzzle.index % 4
      },
      row() {
        return (this.puzzle.index - this.col) / 4
      },
      top() {
        return this.row * 25 + '%'
      },
      left() {
        return this.col * 25 + '%'
      }
    }
  }
</script>

<style lang="stylus">
  .puzzle
    transition: top 70ms, left 70ms;

    .puzzle-item
      position: absolute;
      display: flex;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right 2px;
      cursor: pointer;
      background: #5a5f63;
      border: solid 1px #2b383c;

      &:active
        transform scale(0.97)

      .state
        position: absolute;
        top: 4px;
        left: 4px;
        height: 8px;
        width: 8px;

        &.green
          background: #4cf32d;

        &.red
          background: #f94424;

      span
        margin: auto;
        font-size: 36px;
        user-select: none;

</style>