<template>
  <div v-if="box" class="puzzle-box">
    <div class="box back-ground" :class="isValid && 'disabled'">
      <div class="container">
        <transition-group tag="div" class="puzzle-top">
          <puzzle-item v-for="puzzle in box.puzzles" :key="puzzle.name" :puzzle="puzzle" class="item"/>
        </transition-group>

        <div class="puzzle-back">
          <div v-for="index in 15" :key="index" :style="getStyle(index)" class="item">
            <span>{{index}}</span>
          </div>
        </div>
      </div>
    </div>

    <div v-show="isValid" class="congrats">
      <div class="congrats-inner">
        <div class="congrats-top back-ground">
          <div class="congrats-bordered">
            <div>
              Congratulations!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="count back-ground">
      <div class="count-bordered">
        <div>
          Count: <span style="color: #3d3e42;">{{box.steps}}</span>
        </div>
      </div>
    </div>

    <div class="btn-bottom">
      <button-circle title="Restart game" @click="createBox()">
        RE
      </button-circle>
    </div>
  </div>
</template>

<script>
  import Container from '../models/Container'

  import PuzzleItem from './puzzle-item.vue'
  import ButtonCircle from './button-circle.vue'

  export default {
    name: 'puzzle-box',
    components: {PuzzleItem, ButtonCircle},
    data() {
      return {
        box: undefined
      }
    },
    computed: {
      isValid() {
        return this.box.isValid()
      }
    },
    created() {
      this.createBox()
    },
    beforeDestroy() {
      this.destroyBox()
    },
    methods: {
      createBox() {
        this.destroyBox()
        this.box = new Container()
      },
      getStyle(index) {
        const col = index % 4
        const row = (index - col) / 4

        return {
          left: col * 25 + '%',
          top: row * 25 + '%'
        }
      },
      destroyBox() {
        if (this.box) {
          this.box.destroy()
        }
      }
    }
  }
</script>

<style lang="stylus">
  .puzzle-box
    display: flex;
    width: 100%;
    min-width: 520px;
    min-height: 760px;

    .btn-bottom
      position: absolute;
      bottom: 24px;
      right: 24px;

    .back-ground
      background: #d1d8de;

    .count
      position: absolute;
      top: 32px;
      left: 32px;
      height: 72px;
      display flex;
      font-size: 33px;
      color: #646667;

      .count-bordered
        display: flex;
        margin: 4px;
        border: 8px solid;

        div
          margin-bottom: auto;
          margin-top: auto;
          margin-left: 16px;
          margin-right: 16px;

    .congrats
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      font-size: 50px;
      pointer-events: none;

      .congrats-inner
        position: relative;
        margin: auto;

      .congrats-top
        display: flex;
        margin-bottom: 430px;

      .congrats-bordered
        margin: 4px;
        border: 8px solid;

        div
          margin-bottom: auto;
          margin-top: auto;
          margin-left: 16px;
          margin-right: 16px;

    .disabled
      pointer-events: none

    .box
      position relative;
      margin auto;
      height: 320px;
      width: 320px;

      .container
        position: absolute;
        display: flex;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right 2px;

      .item
        position: absolute;
        height: 25%;
        width: 25%;
        display: flex;

        span
          margin: auto;
          font-size: 36px;
          user-select: none;

      .puzzle-back
        z-index: 1;
        color: #b5bec5;

      .puzzle-top
        z-index: 10;
        color: #d5dbe0;

</style>
