<template>
  <div class="main">
    <puzzle-box/>
  </div>
</template>

<script>
  import PuzzleBox from './components/puzzle-box.vue'

  export default {
    name: 'main-component',
    components: {PuzzleBox}
  }
</script>

<style lang="stylus">
  html
    height: 100%;

  body
    height: 100%;
    margin unset;

  .main
    height: inherit;
    display: flex;
    background: #202225;
</style>